<!doctype html>
<html>
<head>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>


</head>
<body>


<nav class="navbar navbar-expand-lg navbar-dark" style="background-image: linear-gradient(to right, black , blue);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left:120px; margin-right: 970px">FURNISHTURE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Riwayat</a>
        </li>
		<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Checkout</a>
        </li>
		<li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home.html">Logout</a>
        </li>
        
      </ul>
      <form class="d-flex">
        
      </form>
    </div>
  </div>
</nav>
<br><br><br><br>
<h4 style="margin-left: 50px; margin-right: 50px; text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tincidunt nunc pulvinar sapien. Ultricies mi eget mauris pharetra. Non arcu risus quis varius quam quisque id. Orci phasellus egestas tellus rutrum tellus pellentesque. Laoreet id donec ultrices tincidunt arcu non sodales. Nulla pellentesque dignissim enim sit. Gravida quis blandit turpis cursus in hac. Elit duis tristique sollicitudin nibh. Ut placerat orci nulla pellentesque dignissim enim sit amet. Eget dolor morbi non arcu. At ultrices mi tempus imperdiet nulla. Ut sem nulla pharetra diam sit. Erat velit scelerisque in dictum non consectetur. Vestibulum mattis ullamcorper velit sed ullamcorper. Fames ac turpis egestas maecenas pharetra. Sollicitudin ac orci phasellus egestas tellus. Nulla facilisi etiam dignissim diam quis enim lobortis scelerisque.

Amet dictum sit amet justo donec. Morbi tempus iaculis urna id. A erat nam at lectus urna duis convallis. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Quis hendrerit dolor magna eget. Egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Felis eget nunc lobortis mattis aliquam faucibus purus in. At in tellus integer feugiat. Purus non enim praesent elementum facilisis leo vel fringilla. Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis. Magna etiam tempor orci eu lobortis elementum nibh tellus molestie. Commodo odio aenean sed adipiscing. Nunc scelerisque viverra mauris in aliquam sem fringilla ut. Est velit egestas dui id ornare arcu. Commodo ullamcorper a lacus vestibulum sed arcu non odio.

Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium vulputate sapien. Magna fermentum iaculis eu non diam. Lectus arcu bibendum at varius vel pharetra vel turpis nunc. Dui faucibus in ornare quam viverra. Dolor magna eget est lorem ipsum dolor. Id cursus metus aliquam eleifend mi. Tellus at urna condimentum mattis. Turpis egestas pretium aenean pharetra magna ac placerat. Porttitor rhoncus dolor purus non enim praesent elementum facilisis leo. Ridiculus mus mauris vitae ultricies leo integer. Lectus vestibulum mattis ullamcorper velit sed ullamcorper. Commodo sed egestas egestas fringilla phasellus faucibus scelerisque eleifend. Donec pretium vulputate sapien nec sagittis aliquam malesuada.</h4>

</body>
</html>